<%= stylesheet_link_tag 'application', media: 'all' %>
<%= render 'shared/navbar' %>
<%= yield %>

<h1>Search Results for "<%= @query %>"</h1>

<div class="row justify-content-start">
  <% @results.each do |product| %>
    <% if product.image.present? && (
        params[:category].blank? ||
        (params[:category] == 'men' && product.category_id == 1) ||
        (params[:category] == 'women' && product.category_id == 2) ||
        (params[:category] == 'new_arrivals' && product.category_id == 3)
      ) %>
      <%= render 'shared/product', product: product %>
    <% end %>
  <% end %>
</div>
