<%= render 'shared/navbar' %>
<%= yield %>
<h2>Your Order Details:</h2>
<% if @order.present? %>
  <p>Order Number: <%= @order.id %></p>
  <p>Total Amount: <%= number_to_currency(@order.total) %></p>
  <p>Tax Amount: <%= number_to_currency(@order.tax_amount) %></p>
  <p>Order Date: <%= @order.order_date %></p>

  <h3>Products:</h3>
  <ul>
    <% @order.order_items.each do |order_item| %>
      <li>
        <%= order_item.product.name %> - <%= number_to_currency(order_item.product.price) %> x <%= order_item.quantity %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No order details available.</p>
<% end %>
