<%= render 'shared/navbar' %>
<%= yield %>
<h2 class="order-heading">Your Order Details:</h2>
<% if @orders.present? %>
  <table class="order-details-table">
    <tr>
      <th>Order Number</th>
      <th>Total Amount</th>
      <th>Tax Amount</th>
      <th>Order Date</th>
    </tr>
    <tr>
      <td><%= @orders.id %></td>
      <td><%= number_to_currency(@orders.total) %></td>
      <td><%= number_to_currency(@orders.tax_amount) %></td>
      <td><%= @orders.order_date %></td>
    </tr>
  </table>

  <h3 class="products-heading">Products:</h3>
  <table class="product-table">
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    <% @orders.order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.product.name %></td>
        <td><%= number_to_currency(order_item.product.price) %></td>
        <td><%= order_item.quantity %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>No order details available.</p>
<% end %>
