<%# <p>You have visited this site <%= pluralize @visit_count, 'time' %>
<%# <p>Items in Cart</p> %>
<%# <%= debug session[:cart] %>
<%= render 'shared/navbar' %>
<%= yield %>
<h3>Products</h3>
<div class="container text-center" id="home_columns">
  <div class="row justify-content-start">
    <% filtered_products = @products %>
    <% if params[:category_id].present? %>
      <% filtered_products = @products.where(category_id: params[:category_id]) %>
    <% end %>

    <% filtered_products.each do |product| %>
      <% if product.image.present? %>
        <div class="col-md-4 mb-4">
          <div class="card" style="height: 100%;">
            <div class="card-image">
              <figure class="image" style="height: 200px; overflow: hidden;">
                <%= image_tag product.image, style: "width:100%; height:100%; object-fit: contain;" %>
              </figure>
            </div>
            <div class="card-body">
              <h2><%= link_to product.name, product %></h2>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <p class="mt-1">
        <strong>
          <%= link_to 'See all Products', products_path %>
        </strong>
      </p>
    </div>
  </div>
</div>
