<h1>Products</h1>
<p>You have visited this site <%= pluralize @visit_count, 'time' %>.</p>
<p>Items in Cart</p>
<%= debug session[:cart] %>
<%= render 'shared/navbar' %>
<%= yield %>
<ol class="custom-list">
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product %>
    </li>
  <% end %>
</ol>



