<!DOCTYPE html>
<html>
  <head>
    <title>RailsFinalProject</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h1>ScentHaven</h1>
    <p>Welcome, <%= @customer_name %></p>
    <%= yield %>
  </body>
</html>
